services:
  fastapi-app:
    build: .
    container_name: fastapi-app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - main-db

  main-db:
    image: mysql:8
    environment:
      MYSQL_DATABASE: main_db
      MYSQL_ROOT_PASSWORD: password
    ports:
      - "3307:3306"

